POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=patient_registration

DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=patient_registration
DB_SYNCHRONIZE=false
DB_LOGGING=false

REDIS_HOST=redis
REDIS_PORT=6379

NODE_ENV=development
PORT=3000

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=USER_YOUR_USER_HERE
MAILTRAP_PASS=USER_YOUR_PASSWORD_HERE